In [1]:
import numpy as np
import pandas as pd
from FLiES_sensitivity import process_FLiES_table

In [2]:
FLiES_inputs_df = pd.read_csv("ha2_FLiES_inputs.csv")
FLiES_inputs_df

,Unnamed: 0,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,time_solar,...,radiance_5,view_zenith,elevation_km,doy,AOT,COT,vapor_gccm,ozone_cm,SZA,KG
0,0,US-ALQ,46.0308,-89.6067,5391,8,15TYM,2019-06-18 00:00:00,2019-06-18,2019-06-17 18:01:34.392,...,NaN,NaN,NaN,169,NaN,NaN,NaN,NaN,NaN,NaN
1,1,US-ALQ,46.0308,-89.6067,7055,8,15TYM,2019-10-03 00:00:00,2019-10-03,2019-10-02 18:01:34.392,...,NaN,NaN,NaN,276,NaN,NaN,NaN,NaN,NaN,NaN
2,2,US-ALQ,46.0308,-89.6067,11771,4,15TYM,2020-08-03 00:00:00,2020-08-03,2020-08-02 18:01:34.392,...,NaN,NaN,NaN,216,NaN,NaN,NaN,NaN,NaN,NaN
3,3,US-ALQ,46.0308,-89.6067,11862,7,15TYM,2020-08-08 00:00:00,2020-08-08,2020-08-07 18:01:34.392,...,NaN,NaN,NaN,221,NaN,NaN,NaN,NaN,NaN,NaN
4,4,US-ALQ,46.0308,-89.6067,11890,9,15TYM,2020-08-10 00:00:00,2020-08-10,2020-08-09 18:01:34.392,...,NaN,NaN,NaN,223,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,679,US-xUK,39.0404,-95.1921,16810,8,15SUD,2021-06-23 00:00:00,2021-06-23,2021-06-22 17:39:13.896,...,NaN,NaN,NaN,174,0.109902,0.010211,2.556485,0.321885,71.627640,4.0
418,680,US-xUN,46.2339,-89.5373,5391,8,15TYM,2019-06-18 00:00:00,2019-06-18,2019-06-17 18:01:51.048,...,NaN,NaN,NaN,169,0.136013,157.238358,2.565592,0.347684,73.660986,4.0
419,681,US-xUN,46.2339,-89.5373,7055,8,15TYM,2019-10-03 00:00:00,2019-10-03,2019-10-02 18:01:51.048,...,NaN,NaN,NaN,276,0.148899,61.517994,2.232357,0.245566,92.669251,4.0
420,685,US-xUN,46.2339,-89.5373,12137,6,15TYM,2020-08-26 00:00:00,2020-08-26,2020-08-25 18:01:51.048,...,NaN,NaN,NaN,239,0.659085,11.544897,2.780532,0.274202,82.618719,4.0
421,686,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04 00:00:00,2020-09-04,2020-09-03 18:01:51.048,...,NaN,NaN,NaN,248,0.045513,28.339823,1.240811,0.333310,84.924138,4.0

In [3]:
FLiES_inputs_df.columns

Index(['Unnamed: 0', 'tower', 'lat', 'lon', 'orbit', 'scene', 'tile',
       'time_UTC', 'date_UTC', 'time_solar', 'product', 'NDVI', 'NDVI-UQ',
       'albedo', 'albedo-UQ', 'BESSinst', 'ESI', 'ESIdaily',
       'ESIdailyUncertainty', 'ETdaily', 'ETdailyUncertainty',
       'ETinstUncertainty', 'EmisWB', 'GPP', 'LST', 'LST_err', 'MOD16inst',
       'PET', 'PTJPLSMcanopy', 'PTJPLSMinst', 'PTJPLSMinterception',
       'PTJPLSMsoil', 'RH', 'Rg', 'Rn', 'SM', 'STICcanopy', 'STICinst', 'Ta',
       'WUE', 'elevation_m', 'radiance_1', 'radiance_2', 'radiance_3',
       'radiance_4', 'radiance_5', 'view_zenith', 'elevation_km', 'doy', 'AOT',
       'COT', 'vapor_gccm', 'ozone_cm', 'SZA', 'KG'],
      dtype='object')

In [4]:
FLiES_outputs_df = process_FLiES_table(FLiES_inputs_df)
FLiES_outputs_df

14/14 [==============================] - 0s 505us/step

,Unnamed: 0,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,time_solar,...,NIRdiff,VISdir,NIRdir,tm,puv,pvis,pnir,fduv,fdvis,fdnir
0,0,US-ALQ,46.0308,-89.6067,5391,8,15TYM,2019-06-18 00:00:00,2019-06-18,2019-06-17 18:01:34.392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,US-ALQ,46.0308,-89.6067,7055,8,15TYM,2019-10-03 00:00:00,2019-10-03,2019-10-02 18:01:34.392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,US-ALQ,46.0308,-89.6067,11771,4,15TYM,2020-08-03 00:00:00,2020-08-03,2020-08-02 18:01:34.392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,US-ALQ,46.0308,-89.6067,11862,7,15TYM,2020-08-08 00:00:00,2020-08-08,2020-08-07 18:01:34.392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,US-ALQ,46.0308,-89.6067,11890,9,15TYM,2020-08-10 00:00:00,2020-08-10,2020-08-09 18:01:34.392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,679,US-xUK,39.0404,-95.1921,16810,8,15SUD,2021-06-23 00:00:00,2021-06-23,2021-06-22 17:39:13.896,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
418,680,US-xUN,46.2339,-89.5373,5391,8,15TYM,2019-06-18 00:00:00,2019-06-18,2019-06-17 18:01:51.048,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
419,681,US-xUN,46.2339,-89.5373,7055,8,15TYM,2019-10-03 00:00:00,2019-10-03,2019-10-02 18:01:51.048,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420,685,US-xUN,46.2339,-89.5373,12137,6,15TYM,2020-08-26 00:00:00,2020-08-26,2020-08-25 18:01:51.048,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421,686,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04 00:00:00,2020-09-04,2020-09-03 18:01:51.048,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
FLiES_outputs_df = process_FLiES_table(FLiES_inputs_df)
FLiES_outputs_df.to_csv("ha2_FLiES_outputs.csv")
FLiES_outputs_df

14/14 [==============================] - 0s 529us/step

,Unnamed: 0,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,time_solar,...,NIRdiff,VISdir,NIRdir,tm,puv,pvis,pnir,fduv,fdvis,fdnir
0,0,US-ALQ,46.0308,-89.6067,5391,8,15TYM,2019-06-18 00:00:00,2019-06-18,2019-06-17 18:01:34.392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,US-ALQ,46.0308,-89.6067,7055,8,15TYM,2019-10-03 00:00:00,2019-10-03,2019-10-02 18:01:34.392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,US-ALQ,46.0308,-89.6067,11771,4,15TYM,2020-08-03 00:00:00,2020-08-03,2020-08-02 18:01:34.392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,US-ALQ,46.0308,-89.6067,11862,7,15TYM,2020-08-08 00:00:00,2020-08-08,2020-08-07 18:01:34.392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,US-ALQ,46.0308,-89.6067,11890,9,15TYM,2020-08-10 00:00:00,2020-08-10,2020-08-09 18:01:34.392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,679,US-xUK,39.0404,-95.1921,16810,8,15SUD,2021-06-23 00:00:00,2021-06-23,2021-06-22 17:39:13.896,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
418,680,US-xUN,46.2339,-89.5373,5391,8,15TYM,2019-06-18 00:00:00,2019-06-18,2019-06-17 18:01:51.048,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
419,681,US-xUN,46.2339,-89.5373,7055,8,15TYM,2019-10-03 00:00:00,2019-10-03,2019-10-02 18:01:51.048,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420,685,US-xUN,46.2339,-89.5373,12137,6,15TYM,2020-08-26 00:00:00,2020-08-26,2020-08-25 18:01:51.048,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421,686,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04 00:00:00,2020-09-04,2020-09-03 18:01:51.048,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
FLiES_outputs_df.columns

Index(['Unnamed: 0', 'tower', 'lat', 'lon', 'orbit', 'scene', 'tile',
       'time_UTC', 'date_UTC', 'time_solar', 'product', 'NDVI', 'NDVI-UQ',
       'albedo', 'albedo-UQ', 'BESSinst', 'ESI', 'ESIdaily',
       'ESIdailyUncertainty', 'ETdaily', 'ETdailyUncertainty',
       'ETinstUncertainty', 'EmisWB', 'GPP', 'LST', 'LST_err', 'MOD16inst',
       'PET', 'PTJPLSMcanopy', 'PTJPLSMinst', 'PTJPLSMinterception',
       'PTJPLSMsoil', 'RH', 'Rg', 'Rn', 'SM', 'STICcanopy', 'STICinst', 'Ta',
       'WUE', 'elevation_m', 'radiance_1', 'radiance_2', 'radiance_3',
       'radiance_4', 'radiance_5', 'view_zenith', 'elevation_km', 'doy', 'AOT',
       'COT', 'vapor_gccm', 'ozone_cm', 'SZA', 'KG', 'Ra', 'UV', 'VIS', 'NIR',
       'VISdiff', 'NIRdiff', 'VISdir', 'NIRdir', 'tm', 'puv', 'pvis', 'pnir',
       'fduv', 'fdvis', 'fdnir'],
      dtype='object')